* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header>img {
    display: inline-block;
    vertical-align: middle;
}


/* Header */

header {
    height: 400px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}


/* Top Header */

.top-header {
    padding: 20px 0;
}

#logo {
    height: 100%;
    width: 20%;
    display: inline-block;
    line-height: 80px;
    float: left;
}

.top-menu {
    height: 80px;
    line-height: 80px;
    display: inline-block;
    width: 60%;
}

li {
    display: inline-block;
    margin: 0 20px;
}

li>a {
    color: white;
    text-decoration: none;
}

.button {
    width: 20%;
    float: right;
    line-height: 80px;
}

.button>a {
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}


/* Bottom Header */

.bottom-header {
    color: white;
}

.jumbotron {
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

.paragraph {
    margin: 25px 150px;
}

.push-button1 {
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: none;
}

.push-button2 {
    background-color: black;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.push-button1,
.push-button2>a {
    font-weight: 600;
}


/* Section */

section {
    margin: 100px 0;
}

.image-left {
    float: left;
}

.image-right {
    float: right;
}

.text {
    padding: 25px 0;
}

.text>h2 {
    font-size: 2em;
    margin: 25px 0;
}

.text-center {
    display: inline-block;
    text-align: center;
}

.text-center>h2 {
    font-size: 2em;
}

.text-center>p {
    margin: 30px 150px;
}

.big-image {
    position: relative;
}

#big-image {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}