* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1100px;
    margin: 0 auto;
}


/* Header */


/* Top-Header */

.top-header {
    height: 80px;
    width: 100%;
}

header {
    height: 500px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    padding-top: 20px;
}

.logo {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.col2 {
    width: calc(60% - 10px);
    display: inline-block;
    line-height: 80px;
    text-align: center;
    color: white;
}

.col3 {
    width: 20%;
    float: right;
    line-height: 80px;
    text-align: right;
}

.col2 li {
    display: inline-block;
    padding: 0 20px;
}

#login {
    display: inline;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
}

#login:hover {
    color: lightblue;
}


/* Down Header */

.jumbotron {
    text-align: center;
    margin: 70px 200px;
    color: white;
}

.jumbotron>h1 {
    font-size: 2.5em;
}

.jumbotron>p {
    font-weight: bolder;
    padding: 20px 0;
}


/* Botton down-header */

.button {
    text-align: center;
}

.down-header .button .mac {
    display: inline;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    margin-right: 20px;
}

.mac:hover {
    color: lightblue;
}

#discord {
    display: inline;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
}

#discord:hover {
    color: lightblue;
}


/* Main */

section {
    margin: 100px 20px;
}

.image-left {
    float: left;
}

.image-right {
    float: right;
}

.text {
    padding: 25px 0;
}

.text>h2 {
    font-size: 2em;
    margin: 25px 0;
}


/* Onda */

.wave {
    color: white;
}

.second image {
    background-color: #f6f6f6;
}


/*Fourth Image */

.fourth-image {
    text-align: center;
}

.text-up {
    text-align: center;
    margin: 0 200px;
    padding: 20px;
}

.text-up>h2 {
    font-size: 2em;
    margin: 25px 0;
}

.text-bottom {
    padding: 20px 0;
}

#download {
    display: inline;
    background-color: #8ea1e1;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.text-bottom>h3 {
    margin-bottom: 30px;
}


/* Footer */

footer {
    background-color: #23272a;
    padding: 50px 0;
    color: black;
}

.main-title {
    color: #7289da;
    padding-bottom: 10px;
}

.top-footer {
    height: 300px;
    border-bottom: 2px solid #404c6c;
}


/* Prima colonna */

.left-content {
    width: 30%;
    float: left;
}

.left-content>h3 {
    font-size: 2.5em;
}

#ita {
    height: 20px;
    width: 30px;
    display: inline-block;
    margin-right: 5px;
}

.language {
    display: inline-block;
    color: white;
    margin-top: 20px;
}

#social {
    display: inline-block;
}

i {
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 20px 0;
    margin-right: 10px;
}


/* Altre colonne */

.right-content {
    width: calc(70% - 10px);
    float: right;
}

li {
    list-style-type: none;
    padding: 2px 0;
    color: white;
}

.colonna {
    float: left;
    margin-right: 20px;
}


/* Down-footer */

.down-footer {
    margin-top: 20px;
}

#registrati {
    display: inline;
    background-color: #8ea1e1;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
}

.pos-logo {
    width: 50%;
    float: left;
}

.pos-reg {
    display: inline-block;
    float: right;
}